DATABASE_HOST_NAME=localhost
DATABASE_PORT=5432
DATABASE_NAME=apibackend
DATABASE_USERNAME=user123
DATABASE_PASSWORD=password123

SECRET_KEY=09d25e094fa457890876534gdfgnmfuo87966b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30